extends index.pug

include utils.pug

block content
  div(class='answers-form-page')
      +validationErrorSummary(errors)
      div(class='answers-form-container')
        div(class='answers-form-box')
            form(class='answers-form' action=`/questions/${id}/answers` method='post')
              div
                  input(type='hidden', name='_csrf' value=csrfToken)
              div(class='answer-label')
                  label(for='answer') Answer
              div(class='answer-form-textarea')
                  textarea(name='answer', rows=10 cols=58)
              div
                  button( class='submit-answer-button' type='submit') Submit Answer
              div(class='answer-cancel-label')
                  a(href='/') Cancel
