extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
     div
        h1 WELCOME TO STOCK FLOW
     if locals.authenticated
      h2 HELLO #{user.username}, you've logged in
      form(action="/users/logout", method="post")
        button(type="submit") Logout
      div
        a(href='')
          button Questions
     else
      div
         a(href='/')
          button StockFlow
      div
        a(href='')
          button Questions
      div
        a(href='')
          button Demo login
      div
        a(href='/users/login')
          button Log In
      div
        a(href='/users/register')
          button Sign Up



