doctype html
html
  head
      block head
        title="Stock Flow"
        link(rel='stylesheet' href='/stylesheets/reset.css')
          //- add page specific styles by appending to the head
        link(rel="stylesheet" href="/stylesheets/index.css")
        //- add page specific js
        script(src="/javascripts/index.js" type="module" defer)
body
  header(class='nav_bar')
   if locals.authenticated
     div(class='nav_bar btn')
      a(href='/')
          button(class='btn home') StockFlow~
     div
       a(href=`/questions/`)
          button(class='btn question') Questions
     div(class='search-container')
      input(type='search' class='search-box')
     div
       a(href='/users/homepage')
          button(class='btn homepage') Homepage
     div
       form(action="/users/logout", method="post")
         button(type="submit" class='btn entry logout') Logout
   else
    div
      a(href='/')
          button(class='btn home') StockFlow~
    div
      a(href=`/questions/`)
          button(class='btn question') Questions
      a(href='/users/guest')
          button(class='btn guest') Guest Login
    div(class='search-container')
      input(type='search' class='search-box')
    div(class='entry-container')
      a(href='/users/login')
          button(class='btn entry') Log in
      a(href='/users/register')
          button(class='btn entry') Sign up

  block content

