doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
          //- add page specific styles by appending to the head
        link(rel="stylesheet" href="/stylesheets/index.css")
        //- add page specific js
        script(src="/javascripts/index.js" type="module" defer)
  header(class='nav_bar')
   if locals.authenticated
     h3 logged in as #{user.username}
     div
      a(href='/')
          button(class='btn home') StockFlow
     div
       form(action="/users/logout", method="post")
         button(type="submit") Logout
     div
       a(href=`/questions/`)
          button(class='btn') Questions
       a(href='/users/homepage')
          button(class='btn') User Homepage
   else
    div
      a(href='/')
          button(class='btn home') StockFlow
    div
      a(href=`/questions/`)
          button(class='btn') Questions
    div
      a(href='')
          button(class='btn') Demo login
    div
      a(href='/users/login')
          button(class='btn entry') Log In
    div
      a(href='/users/register')
          button(class='btn entry') Sign Up

  block content
