doctype html
html
  head
      block head
        title="PetFlow"
        link(rel='stylesheet' href='/stylesheets/reset.css')
          //- add page specific styles by appending to the head
        link(rel="stylesheet" href="/stylesheets/index.css")
        //- add page specific js
        script(src="/javascripts/index.js" type="module" defer)
body
 div(class='alert-bar')
  header(class='nav_bar')
   if locals.authenticated
     div
        image(class='favicon' src='/images/logo.png')
     div
      a(href='/')
          button(class='btn home') PetFlow
     div
       a(href=`/questions/`)
          button(class='btn question') Questions
     div(class='search-container')
      input(type='search' class='search-box')
     div
       a(href='/users/homepage')
          button(class='btn homepage') Homepage
     div
       form(action="/users/logout", method="post")
         button(type="submit" class='btn entry logout') Logout
     div(class='login-user-message')
        p Hello #{user.username}
   else
    div
        image(class='favicon' src='/images/logo.png')
    div
      a(href='/')
          button(class='btn home') PetFlow
    div
      a(href=`/`)
          button(class='btn question') Questions
      a(href='/users/guest')
          button(class='btn guest') Demo Login
    div(class='search-container')
      input(type='search' class='search-box')
    div(class='entry-container')
      a(href='/users/login')
          button(class='btn entry') Log in
      a(href='/users/register')
          button(class='btn entry') Sign up

  block content
