doctype html
html
  head
      block head
        title="PetClinic"
        link(rel='stylesheet' href='/stylesheets/reset.css')
          //- add page specific styles by appending to the head
        link(rel="stylesheet" href="/stylesheets/index.css")
        //- add page specific js
        script(src="/javascripts/index.js" type="module" defer)
        script(src="https://kit.fontawesome.com/85fa627211.js" crossorigin="anonymous")
body
 div(class='alert-bar')
  header(class='nav_bar')
   if locals.authenticated
     div(class='home-left-button')
        a(href='/')
          image(class='favicon' src='/images/pet-flow-logo-with-name.png')
     div
       a(href=`/questions`)
          button(class='btn question') Questions
     div(class='search-container')
      input(type='search' class='search-box' placeholder='Search.........')
      i(class="fas fa-search" id='search-icon')
     div(class='right-corner-buttons')
        div(class='user-homepage-link-container')
            a(href='/users/homepage')
              img(src='/images/doctor-profile-icon.png' class='nav-profile-headshot')
        div(class='nav-user-greeting')
          p Hello,
          p #{user.username}
        div
          form(action="/users/logout", method="post")
            button(type="submit" class='btn entry logout') Logout

   else
    div(class='home-left-button')
      a(href='/')
          image(class='favicon' src='/images/pet-flow-logo-with-name.png')
    div
      a(href=`/questions`)
          button(class='btn question') Questions
      a(href='/users/guest')
          button(class='btn guest') Demo Login
    div(class='search-container' )
      input(type='search' class='search-box' placeholder='Search.........')
      i(class="fas fa-search" id='search-icon')
    div(class='entry-container')
      a(href='/users/login')
          button(class='btn entry') Log in
      a(href='/users/register')
          button(class='btn entry') Sign up
    div
      images(src="./public/images/petclinic-splashpage.png", alt="")


  block content
