extends layout.pug

include utils.pug

block content
      div(class='log-in-page')

        div(class='login-form-container')

            form(class='login-form' action="/users/login", method="post")
              +validationErrorSummary(errors)
              div
                input(type="hidden", name="_csrf", value=csrfToken)
              div(class='login email')
                div
                  label(for="email") Email
                div(class='login input')
                  input(type="text" name="email" id="email" )
              div(class='login password')
                div
                  label(for="password") Password
                div(class='login input')
                  input(type="password" name="password" id="password")
              div(class='login button')
                button(type="submit") Log In
              div(class='signup-container')
                p Don't have an account?
              div(class="signup")
                a(href='/users/register')
                  span(class='signup-link') Sign Up
