
if questions
  table(class='questions')
    thead(class='questionHead')
        tr
          th Questions
    tbody
         each question in questions
           tr
              td: a(class='question' href=`/questions/${question.id}`) #{question.question}
else
  table(class='questions')
    thead(class='questionHead')
        tr
          th Questions
    tbody
      tr
          td you have no questionsplease answer some questions!
