extends index.pug

include utils.pug

block content
  div(class='question-form-page')
      +validationErrorSummary(errors)
      div(class='question-form-container')
            div(class='question-form-box')
              form(class='question-form' action='/questions/add' method='post')
                div
                  input(type='hidden' name='_csrf' value=csrfToken)
                div(class='question-label')
                  label( for='question') Ask Question Here
                div(class='question-form-textarea')
                  textarea(name='question' rows=10 cols=58)
                div
                  button(class='submit-question-button' type='submit') Ask Question
