
div(class='question-page')
    if questions
          div(class='side-bar')
               a(href='/')
                      button(class='side-bar btn') home
          div(class='questions-list-container')
             div(class='questions-box')
                 div(class='questions-header')
                   div(class='question-button-container')
                       h1 All Questions
                   div(class='ask-button-container')
                      a(href=`/questions/add`)
                          button(class='btn ask-question') Ask Question

                 div
                    p Top 5 questions
                 div(class='')
                      div(class='questionbody')
                         each question in questions
                               div(class='question-row')
                                  div(class='votes-answers-box')
                                    p votes
                                    p answers
                                  div(class='question-display-box')
                                    div(class='question-link-container')
                                       a(class='question-link-btn' href=`/questions/${question.id}`) #{question.question}
                                    div(class='question-date-container')
                                       p this is date
    else
         table(class='questions')
            thead(class='questionHead')
                 tr
                    th Questions
            tbody
              tr
                  td you have no questionsplease answer some questions!
