extends layout.pug

block content
  div(class='question-container-page')
    div(class='side-bar')
      div(class='user-message')
      a(href='/' class='side-bar btn') Home
    div(class='question-container')
        div(class='question-box')
          div(class="question-header")
            h1 #{question.question}
            div(class='ask-button-container')
              a(href=`/questions/add`)
                button(class='btn ask-question') Ask Question
          div(class='question-description')
            div(class="votes-container")
              div(class='vote-items')
          //- div(class="description-detail-container")
            //- div
            //-   a(href=`/questions/${questions.id}/answers`)
            //-     button(class='btn ask-question') Answer
