extends index.pug

block content
    body
      div(class='splash-page')
         div(class='splash-photo-container')
            div(class='splash-photo')
                h1 We <3 People Who Care
                h2 We empower pet-owners to connect with world-wide professionals with expertise that ensures a caring and loving environment for their pets.
         div(class='splash-message-container')
            h1 Questions are everywhere, answers are at PetClinic
            image( class='splash-bottom-img' src='/images/splash-bottom.jpg')
    include footer
