extends index.pug

block content
      body
        div(class='user-homepage-container')
          div(class='profile-container')
            p #{user.username}'s Homepage
            p | #{user.email}
            if professional
              p | Professional User
          div(class='questions-answers-container')
            div(class='users-question-box')
              h1 Questions
                if questions
                    each question in questions
                      li #{question.question}

            div(class='users-answers-box')
              h1 Answers
                if answers
                    each answer in answers
                      li #{answer.answer}


        include footer


