h1 {
    color: #555555;

}

body {
    min-width: 480px;
}

html {
    font-family: 'Helvatica Neue'
}

.favicon{
    width: 55px;
    height: 55px;
}
@media screen and (max-width: 800px){
    .btn.home {display: none; }
    .search-box{
        width:100px
     }
    .btn.guest { display: none; }
}
@media screen and (max-width: 480px) {
    .search-box{
       width:50px
    }

    .btn.guest { display: none; }
    .btn.question { display: none; }
    /* .btn.home { display: none; } */

 }

.nav_bar {
    position:fixed;
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    background-color: #181818;
    box-sizing: border-box;
    height: 55px;
    color: rgb(39, 39, 39);
    box-shadow: 0px 0px 5px 1px #747373;
}
/*
.nav_bar:hover{
    background-color: white;
} */

body{
    background-color:rgb(223, 222, 222);
}


.search-box{
    display:flex;
    margin: 9px;
    height: 35px;
    border-radius: 2px;
    width: 100%;
}
.search-container{
    margin-right: 10px;
    width: 400px;
}
button {
    display: flexbox;
   height: 30px;
   margin: 0px 3px 0px 0px;
   padding: 6px 16px;
   background-color: #181818;
   border: 0;
   color: white;
   font-weight: bold;
   font-size: large;


}

button.question,
button.guest,
button.homepage {
    margin-top: 12px;

    /* border-color: rgb(255, 255, 255); */
    border-radius: 7px;

}
button:hover{
    /* background-color:  #2c2c2c; */
    /* background-color: white; */
    color:greenyellow

}
.home-left-button{
    display: flex;
    margin-left:10px;
}
button.home{

    height: 55px;
    border-radius: 0;
    font-size: 25px;
    font-weight: 1000;
    color:rgb(52, 151, 21)
}

button.home:hover{
    color: greenyellow;
}

.btn.entry:hover{
    background-color:  rgb(67, 161, 39);
}

.entry-container{
    margin: 7px;
}
.btn.entry{
    position: relative;
    height: 40px;
    justify-content: flex-end;
    background-color: rgb(86, 205, 50);
    border-radius: 1px;
    color: black;
    height: 40px;
    font-family: inherit;
    font-size:small;
    padding: 5px;
    border-radius: 5px;
    width:70px;
    margin-left: 7px;

}

.btn.entry.logout{
    margin-top: 7px;
}

.ask-button-container {
    margin-left: 12px;
}

.btn.ask-question{
    /* position: relative; */
    display: inline-block;
    background-color: rgb(86, 205, 50);
    border-radius: 2px;
    color: black;
    font-size: small;
    height: 50%;
    width: 90%;
    font-family: inherit;
    margin-right: 50px;
    padding: 5px;
    /* border: 2px solid rgb(64, 161, 34); */
    box-shadow: 0px 0px 2px 1px #2a9221;
}

.btn.ask-question:hover{
    background-color:  rgb(67, 161, 39);
}

.side-bar{
    max-width: 200px;
    /* border-right: 1px solid rgb(204, 204, 204); */
    margin-top: 25px;

    background-color: white;
    border-right: 1px solid gray
}



.side-bar.btn{
    margin-top: 65px;
    display: flex;
    justify-content: start;
    min-width: 140px;
    /* width: 100%; */
    /* margin-right: 30px; */
    /* border: 0px; */
    padding: 8px 5px 8px 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    /* box-shadow: 0px 0px 10px 3px #b1b1b1; */
    /* border-radius: 5px; */
}
.side-bar.btn:hover{
    background-color: black;
    color: white;
}

/* Homepage question list */

.question-page{
    display: grid;
    grid-template-columns: 1fr 10fr;
    height: 100vh

}

.questions-box{
    display: flexbox;
    width: 100%;
}

.questions-list-container{
    display: flex;
    justify-content: center;
    border: 10px ;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 24px
    /* height: auto; */
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 10px 3px #b1b1b1; */
}



.questions-header{
    height: 60px;
    display:flex;
    justify-content: space-between

}
.row,
.row.question{
    display: flex;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin: 10px;
}

.row p{
    font-size: 20px
}
.row.question{
    height: auto;
}

.counts-box{
    margin: 10px;
}

.question-upvote-button{
    text-decoration: none;
    background-color: white;
    color: black;
    cursor: pointer
}

.question-downvote-button{
    text-decoration: none;
    background-color: white;
    color: black;
    cursor: pointer
}


.vote-box span,
.answer-box span {
    display:flex;
    justify-content: center;
    font-size: 12px
}

.answer-box {
    margin-top: 5px;
}



.question-answer-link-btn{
    display: flex;
    width: 100%;
    text-decoration: none;
    color: rgb(67, 161, 39)
}
.question-date-author-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;

}
.q-date-auth-box p{
    margin: 10px;
    font-size: small;
    color: rgb(114, 113, 113);
    max-width: 200px
}

.number{
    font-size: 22px;
}

.question-display-box{
    display: flexbox;
    width: 100%;
    margin: 10px;
}


.footer{
    display:flex;
    position: fix;
    align-items: flex-end;
    background-color: #181818;
    color: white;

}


/* LOGIN PAGE */
.log-in-page{
    display: flex;
    justify-content: center
}

.login-form-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;

}
.right-corner-buttons{
    display:flex
}
.nav-user-greeting{
    color: white;
    padding: 10px;
    font-size: small;
    height:50px;

}
.nav-user-greeting p {
    margin: 0px;
}
.nav-profile-headshot{
    width: 40px;
    margin-top:10px;
    height: 40px;

}
.user-homepage-link-container{
    font-size: small;
    width:auto;
    /* padding-left: 15px; */
    height: 51px;
    /* min-width: 50px; */
}
.login-form{
    position: absolute;
    margin-top: 80px;
    width: 300px;
    padding: 30px;

    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #b1b1b1;
    background-color: white;
}

.login {
    margin-top: 5px;
    display: grid;
    grid-template-rows: 1fr;
    font-weight: bold
}


.login.input {
    width: 100%;
    margin-top: 1px;
    margin-left: 0px;
    height: 30px;
}


.login button{
    height: 40px;
    margin-top: 15px;
    border-radius: 5px;
}

.login button:hover{
    background-color: #2c2c2c
}

.signup-link{
    color: rgb(67, 161, 39);
    margin-left: 5px;
}

/* SIGNUP PAGE */
.sign-up-page{
    padding: 70px;
}

.signup-form-container{
   display: flex;
   justify-content: center;

}

.signup-form{
    /* position: absolute; */
    margin-top: 80px;
    width: 300px;
    padding: 30px;

    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #b1b1b1;
    background-color: white;
}
.signup {
    margin-top: 5px;
    display: grid;
    grid-template-rows: 1fr;
    font-weight: bold
}

.signup.link{
    margin-top: 20px;
}

.signup.input,
.signup.checkbox {

    width: 100%;
    margin-top: 1px;
    margin-left: 0px;
    height: 30px;
}


.signup button{
    height: 40px;
    margin-top: 15px;
    border-radius: 5px;
}

.signup button:hover{
    background-color: #2c2c2c
}

/* USER HOMEPAGE */
.questions-answers-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    min-height: auto;
    margin-left: 30px;

}

.profile-headshot{
    height: 200px;
    width: auto;
    box-shadow: 0px 0px 5px 2px #e4e4e4;
}
.user-homepage-page{
    padding-top: 50px;
    background-color: white;
    display: grid;
    min-height: 700px;
    grid-template-columns: 1fr 10fr;
}
.user-homepage-sidebar{
    border-right: 1px solid rgb(196, 194, 194);
    padding-top: 30px;
}

.users-question-box,
.users-answer-box {
    margin: 0px 30px 15px 0px;
    padding-bottom: 15px;
    /* border-bottom: 1px solid rgb(212, 211, 211) */
}

.users-answer-box h2,
.users-question-box h2 {
    font-weight: 900px;
    font-size: 20px;
    border-bottom: 1px solid rgb(212, 211, 211);
    width: 400px
}
.profile-container{
    display: flex;
    padding: 30px;
}

.user-homepage-right-container{
    padding-top: 30px;
}

.user-homepage-link {
    text-decoration: none;
    height: 30px;
    padding: 5px 10px 5px 10px;
    width: 380px;
}
.answer-link-container,
.question-link-container{
    display: flex;
    width: 400px;
    height: 30px;

    margin: 15px 10px 0px 0px;
    border-radius: 5px;
}
.answer-link-container :hover,
.question-link-container :hover {
    box-shadow: 0px 0px 5px 1px #e4e4e4;
}

.profile-info-containers p,
.profile-info-containers h1 {
    padding: 0px 30px 0px 30px;
}
/* SINGLE QUESTION PAGE */

.question-container-page{
    display:grid;
    grid-template-columns: 1fr 10fr;

}

.question-container{
    margin-top:  55px;
    background-color: white;
}

.question-box{
    /* display: grid; */
    height: 600px;
    width: auto;
    padding: 24px;
    border-radius: 5px;
}
.question-header {
    display: flex;
    height: 100px;
}
.question-header h1{
    font-size: 27px
}

.question-description {
    /* display: flex;
    border-bottom: 1px solid #e4e6e8;
    padding-bottom: 16px;
    padding-top: 160px;
    margin-top: 15px */
    width: 100%;
    height: 100vh;
    background-color: white;
}

.vote-container {
    position: relative;
    padding-right: 16px

}

.vote-items{

}

.description-detail-container{
    width: 100%;

}

.answer-box{
    border-top: 1px solid rgb(177, 174, 174)
}


/* QUESTION_FORM(AKA ASK QUESTION) */
.question-form-page{
    display: flex;
    justify-content: center;
}
.question-form-box{
    margin-top: 100px;

}

.question-form-textarea{
    border-radius: 10px;
    margin-bottom: 15px;
}

.question-form{
    margin-top: 80px;
    width: 500px;
    padding: 30px;

    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #b1b1b1;
    background-color: white;

}
.question-label{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: large
}
.submit-question-button{
    border-radius: 5px
}


/* ANSWER_FORM(ANSWER) */
.answers-form-page{
    display: flex;
    justify-content: center;
}
.answers-form-box{
    margin-top: 100px;
}

.answer-form-textarea{
    border-radius: 10px;
    margin-bottom: 15px;
}

.answers-form{
    margin-top: 80px;
    width: 500px;
    padding: 30px;
    border: 0.5px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #b1b1b1;
    background-color: white;

}
.answer-label{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: large
}

.answer-cancel-label{
    margin-top: 15px;
}

.submit-answer-button{
    border-radius: 5px
}
