h1 {
    color: #555555;

}

body {
    min-width: 480px;
}

html {
    font-family: 'Helvatica Neue'
}

.favicon{
    width: 140px;
    height: 50px;
    margin-right: 5px;
}
.favicon:hover {
    box-shadow: 0px 0px 3px 1px #b1b1b1;
}
@media screen and (max-width: 800px){
    .btn.home {display: none; }
    /* .search-box{
        width:100px
     } */
    .btn.guest { display: none; }
}
@media screen and (max-width: 680px) {
    .search-box{
       width:50px
    }
    .entry-container{
        width:100%
    }

    .btn.guest { display: none; }
    .btn.question { display: none; }
    /* .btn.home { display: none; } */

 }

.nav_bar {
    position:fixed;
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    border-top: 5px solid rgb(187, 123, 123);
    background-color: white;
    box-sizing: border-box;
    height: 55px;
    color: rgb(39, 39, 39);
    box-shadow: 0px 0px 5px 1px #686868;
}
/*
.nav_bar:hover{
    background-color: white;
} */

body{
    background-color:rgb(223, 222, 222);
}


.search-box{
    /* display:flex;
    margin: 9px;
    height: 35px;
    border-radius: 2px;
    width: 100%; */
    /* padding-left: 32px; */
    margin: 9px;
    height: 35px;
    /* border-color: #bbc0c4; */
    background-color: white;
    color: #3c4146;
    padding-left: 45px;
    width: 100%;
    /* margin: 0; */
    /* padding-top: 0.6em; */
    /* padding-right: 0.7em; */
    /* padding-bottom: 0.6em; */
    border: 1px solid #a3a2a2;
    border-radius: 3px;
    font-size: 13px;
    font-family: inherit;
    /* line-height: 1.15384615; */
}
.search-container{
    /* flex-shrink: 2000; */
    padding-left: 0px !important;
    padding-right: 40px !important;
    flex-grow: 1;
    position: relative;
}
#search-icon{
    /* right: auto; */
    left: 25px;
    color: #bbc0c4;
    position: absolute;
    top: 50%;
    /* vertical-align: center; */
    margin-top: -12px;

    font-size: 20px;
}
button {
    display: flexbox;
   height: 30px;
   margin: 0px 3px 0px 0px;
   padding: 6px 16px;
   background-color:  #ffffff;
   border-radius: 3px;
   border: 0;
   color: #3c4146;
   font-size: msmall;


}

button.question,
button.guest,
button.homepage {
    margin-top: 12px;
    border: 1px solid transparent;
    /* border-color: rgb(255, 255, 255); */
    border-radius: 20px;

}
button:hover{
    /* background-color:  #2c2c2c; */
    /* background-color: white; */
    background-color:rgb(236, 235, 235);
    color: black;

}
.home-left-button{
    display: flex;
    margin-left:10px;
}
button.home{

    height: 50px;
    border-radius: 0;
    font-size: 25px;
    font-weight: 1000;
    color:rgb(88, 88, 88)
}

button.home:hover{
    color: white;
    background-color: #c9c9c9;
}

.btn.entry:hover{
    background-color:  rgb(74, 110, 110);
    /* color:black */
}

.entry-container{
    margin: 7px;
    /* width: 100%; */
}
.btn.entry{
    position: relative;
    height: 40px;
    justify-content: flex-end;
    background-color: rgb(87, 128, 127);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    height: 40px;
    font-family: inherit;
    font-size:small;
    padding: 5px;
    width:70px;
    margin-left: 7px;

}

.btn.entry.logout{
    margin-top: 7px;
}

.ask-button-container {
    margin-left: 0px 0px 0px 12px;
}

.ask-button-container button{
    margin-top: 0px;
    background-color: rgb(87, 128, 127);
    border-radius: 3px;
    border: 1px solid transparent;
    color: rgb(255, 255, 255);
    font-size: small;
    height: 40px;
    width: 100px;
    font-family: inherit;
    padding: 5px;
}

.ask-button-container button:hover{
    background-color:   rgb(74, 110, 110);

    border: 1px solid rgb(212, 212, 212)
}

.btn.ask-question{
    /* position: relative; */
    display: inline-block;
    background-color: rgb(87, 128, 127);
    border-radius: 3px;
    border: 1px solid transparent;
    color: rgb(255, 255, 255);
    font-size: small;
    height: 40px;
    width: 100px;
    font-family: inherit;
    margin: 60px 10px 0px 0px;
    padding: 5px;
    /* border: 1px solid rgb #636363; */
    /* box-shadow: 0px 0px 2px 1px #636363; */
}



.btn.ask-question:hover{
    background-color:   rgb(74, 110, 110);
    /* color:black; */
    border: 1px solid rgb(212, 212, 212)
}

/* SIDEBAR */

.side-bar{
    width: auto;
    /* border-right: 1px solid rgb(204, 204, 204); */
    margin-top: 25px;
    background-color: white;
    border-right: 1px solid rgb(202, 201, 201)
}

.side-bar p{
    margin: 10px 0px 0px 20px;
    color: rgb(175, 174, 174);
    font-size: small
}

.side-bar a{
    margin: 20px 0px 0px 30px;
    text-decoration: none;
}

.side-bar.btn{
    margin: 60px 0px 0px 10px;
    display: flex;
    justify-content: start;
    min-width: 140px;
    /* width: 100%; */
    /* margin-right: 30px; */
    /* border: 0px; */
    padding: 8px 5px 8px 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-right: 3px solid rgb(187, 123, 123);
    /* box-shadow: 0px 0px 10px 3px #b1b1b1; */
    /* border-radius: 5px; */
}
.side-bar.btn:hover{
    background-color: black;
    color: white;
}

/* Homepage question list */

.question-page{
    display: grid;
    grid-template-columns: 1fr 6fr;

}

.questions-list-container{
    display: flex;
    justify-content: center;
    border: 10px ;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 24px
    /* height: auto; */
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 10px 3px #b1b1b1; */
}

.questions-box{
    display: flexbox;
    width: 100%;
    height: auto;
}

.questions-header{
    height: 60px;
    display:flex;
    justify-content: space-between

}
.row,
.row.question{
    display: flex;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin: 10px;

}

.row p{
    font-size: 30px;
    font-weight: 300px;
    margin-top: 0px
}
.row.question{
    height: auto;
}

.fas.fas.fa-chevron-up{
    width:auto;
    height: auto;
}
.fas.fa-chevron-up:hover{
    color: rgb(187, 123, 123);
    background-color: white;
}
.fas.fa-chevron-down:hover{
    color: rgb(187, 123, 123);
    background-color: white;
}
.counts-box{
    margin: 10px;
}

/* .question-upvote-button{
    text-decoration: none;
    background-color: white;
    color: black;
    cursor: pointer;
    height: auto;
    width: auto;
}

.question-downvote-button{
    text-decoration: none;
    background-color: white;
    color: black;
    cursor: pointer
} */


.vote-box span,
.answer-box span {
    display:flex;
    justify-content: center;
    font-size: 12px;
    margin-top: 7px;
}

.answer-box {
    margin-top: 5px;
}



.question-answer-link-btn{
    display: flex;
    width: 100%;
    text-decoration: none;
    color:  rgb(187, 123, 123);
}
.question-date-author-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;

}
.q-date-auth-box p{
    margin: 10px;
    font-size: small;
    color: rgb(114, 113, 113);
    max-width: 200px
}

.number{
    font-size: 22px;
}

.question-display-box{
    display: flexbox;
    width: 100%;
    margin: 10px;
}

/* FOOTER */

.footer-container{
    display: grid;
    grid-template-columns: 1fr 10fr 10fr;
    width: 100%;
    padding: 32px 12px 12px 12px;
    background-color: #1d1f1f;
    height: 200px;
}

.footer-logo-img {
    width: 50px;
    height: 50px;
}

.name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 12px;
    color: #bbc0c4;
    margin-top: 0px;
}

.name-li li {
    list-style: none;

    font-size: 1rem;
    color: #bbc0c4;
    background-color: transparent;
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: normal
}

a {
    text-decoration: none;
}

/* LOGIN PAGE */
.log-in-page{
    display: flex;
    justify-content: center
}

.login-form-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;

}
.right-corner-buttons{
    display:flex
}
.nav-user-greeting{
    color:rgb(114, 113, 113);
    padding: 10px;
    font-size: small;
    height:50px;

}
.nav-user-greeting p {
    margin: 0px;
}
.nav-profile-headshot{
    width: 30px;
    margin-top:10px;
    height: 30px;

}
.user-homepage-link-container{
    font-size: small;
    width:auto;
    /* padding-left: 15px; */
    height: 51px;
    /* min-width: 50px; */
}
.login-form{
    position: absolute;
    margin-top: 80px;
    width: 300px;
    padding: 30px;

    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #b1b1b1;
    background-color: white;
}

.login {
    margin-top: 5px;
    display: grid;
    grid-template-rows: 1fr;
    font-weight: bold
}


.login.input {
    width: 100%;
    margin-top: 1px;
    margin-left: 0px;
    height: 30px;
}


.login button{
    height: 40px;
    margin-top: 15px;
    border-radius: 5px;
}

.login button:hover{
    background-color: #2c2c2c
}


/* SIGNUP PAGE */
.sign-up-page{
    padding: 70px;
}

.signup-form-container{
   display: flex;
   justify-content: center;

}

.signup-form{
    /* position: absolute; */
    margin-top: 80px;
    width: 300px;
    padding: 30px;

    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #b1b1b1;
    background-color: white;
}
/* .signup {
    margin-top: 5px;
    display: grid;
    grid-template-rows: 1fr;
    font-weight: bold
} */

.signup {
    display: flex;
    justify-content: center;
}

.signup-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.signup-link{
    color: rgb(67, 161, 39);
    margin-left: 5px;
}

.signup.input,
.signup.checkbox {

    width: 100%;
    margin-top: 1px;
    margin-left: 0px;
    height: 30px;
}


.signup button{
    height: 40px;
    margin-top: 15px;
    border-radius: 5px;
}

.signup button:hover{
    background-color: #2c2c2c
}

/* USER HOMEPAGE */
.questions-answers-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    min-height: auto;
    margin-left: 30px;

}
.user-homepage-home-button{
    padding-top: 30px;
}
.user-homepage-home-button a{
    text-decoration: none;
    width: auto;
}
.profile-headshot{
    height: 200px;
    width: auto;
    box-shadow: 0px 0px 5px 2px #e4e4e4;
}
.user-homepage-page{
    /* padding-top: 50px; */
    background-color: white;
    display: grid;
    min-height: 800px;
    grid-template-columns: 1fr 6fr;
}
.user-homepage-sidebar{
    border-right: 1px solid rgb(196, 194, 194);
    padding-top: 30px;
}

.users-question-box,
.users-answer-box {
    margin: 0px 30px 15px 0px;
    padding-bottom: 15px;
    /* border-bottom: 1px solid rgb(212, 211, 211) */
}

.users-answer-box h2,
.users-question-box h2 {
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    border-bottom: 1px solid rgb(212, 211, 211);
    width: 400px
}
.profile-container {
    display: flex;
    padding: 60px 30px 30px 30px;
}

.user-homepage-right-container{
    padding-top: 30px;
}
.user-btn.ask-question{
    margin: 0px 0px 0px 150px;
    background-color: rgb(87, 128, 127);
    border-radius: 3px;
    border: 1px solid transparent;
    color: rgb(255, 255, 255);
    font-size: small;
    height: 40px;
    width: 100px;
    font-family: inherit;
    padding: 5px;
}

.user-btn.ask-question:hover{
    background-color:   rgb(74, 110, 110);

    border: 1px solid rgb(212, 212, 212)
}
.user-homepage-link {
    text-decoration: none;
    /* height: 30px; */
    padding: 5px 10px 5px 10px;
    width: 400px;
    border-radius: 5px;
}
.answer-link-container,
.question-link-container{
    display: flex;
    width: 400px;
    /* height: 30px; */

    margin: 15px 10px 0px 0px;

}
.answer-link-container :hover,
.question-link-container :hover {
    box-shadow: 0px 0px 5px 1px #e4e4e4;
}

.profile-info-containers p,
.profile-info-containers h1 {
    padding: 0px 30px 0px 30px;
}
/* SINGLE QUESTION PAGE */

.question-container-page{
    display:grid;
    grid-template-columns: 1fr 6fr;

}

.question-container{
    margin-top:  55px;
    background-color: white;
}

.question-box{
    /* display: grid; */
    height: auto;
    width: auto;
    padding: 24px;
    border-radius: 5px;
}
.question-header {
    display: flex;
    height: 100px;
    justify-content: space-between
}
.question-header h1{
    font-size: 27px
}

.question-description {
    /* display: flex;
    border-bottom: 1px solid #e4e6e8;
    padding-bottom: 16px;
    padding-top: 160px;
    margin-top: 15px */
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 20fr;
    margin-top: 30px;
    border-bottom: 1px solid #e4e6e8;
}

.vote-container {
    position: relative;
    grid-template-rows: 1fr 1fr 1fr;

}

.question-span{
    text-align: center;
    padding-right: 10px
}

.question-description-content{
    grid-template-rows: 1fr 1fr;
}

.user-info-container{
    justify-content: flex-end;
    display:flex;
    margin-bottom: 30px;
}

.user-info{
    padding-right: 16px
}


.description-detail-container{
    width: 100%;

}

.answer-box{
    border-top: 1px solid rgb(177, 174, 174);

}

.answer-header h2{
    margin: 15px 0px 0px 0px;
    font-size: larger
}

/* QUESTION_FORM(AKA ASK QUESTION) */
.question-form-page{
    padding-top: 100px;
    width: 100%;
    height: auto;
}

.question-form-container {
    display: grid;
    grid-template-rows: 1fr 10fr;
    width: 100%;
    background-color: inherit;
    padding: 20px;
}

.form-header {
    line-height: 1.3;
    margin: 0 0 1em;
}

.form-header h1 {
    font-size: 27px;
    font-weight: 600;
    color: black
}

.question-form{
    grid-template-rows: 10fr 10fr;
}

.form-detail{
    background-color: white;
    padding: 20px;
    border: 1px solid #d6d9dc;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%);
    border-radius: 3px;
}

.h1-title, .h1-body {
    font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: 700
}

.title-detail textarea {
    width: 100%;
    border: 1px solid rgb(168, 168, 168)
}

.body-detail textarea {
    width: 100%;
    height: 300px;
    border: 1px solid lightgrey;
}

.h1-body{
    margin-top: 26px
}


.post-question-container{
    margin-top: 32px
}

.submit-question-bttn {
    border-radius: 3px;
    display: inline-block;
    box-shadow: inset 0 1px 0 0 rgb(255 255);
    cursor: pointer;
    height: 50px
}
/* .question-form-page{
    display: flex;
    justify-content: center;
}
.question-form-box{
    margin-top: 100px;

}

.question-form-textarea{
    border-radius: 10px;
    margin-bottom: 15px;
}

.question-form{
    margin-top: 80px;
    width: 500px;
    padding: 30px;

    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #b1b1b1;
    background-color: white;

}
.question-label{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: large
}
.submit-question-button{
    border-radius: 5px
} */


/* ANSWER_FORM(ANSWER) */

.answer-form-textarea textarea{
    border-radius: 3px;
    margin-bottom: 15px;
    width: 100%;
}

.answers-form{
    width: 100%;
    padding: 20px 10px 10px 10px;
}
 .answer-label{

    margin-bottom: 15px;
    font-size: large
}

.answer-cancel-label{
    margin-top: 5px;
    text-decoration: underline;

}

.answer-cancel-label a{
    font-size: smaller
}

.submit-answer-button{
    border-radius: 3px;
    background-color: rgb(87, 128, 127);
    color: white
}

.submit-answer-button:hover{
    background-color: rgb(74, 110, 110);
    color:white
}
