h1 {
    color: #555555;
}

.nav_bar {
    display: flex;
    background-color: rgb(236, 235, 235);
    box-sizing: border-box;
    height: 55px;
    color: black;
    margin-bottom: black
}

.btn {
   height: 20px;
   margin: 10px;
   background-color: rgb(236, 235, 235);
   border: 1


}

.btn.home{
    height: 35px;
}

.btn.entry{

    justify-content: space-around
}
